In [1]:
import pandas as pd
import scipy.stats as stats

In [3]:
data = {'Category1': ['A', 'B', 'A', 'B', 'A', 'C', 'B'],
        'Category2': ['X', 'Y', 'X', 'Y', 'X', 'Z', 'Z'],
        'Category3': ['P', 'Q', 'Q', 'P', 'P', 'Q', 'P']}

In [9]:
df = pd.DataFrame(data)
df

  Category1 Category2 Category3
0         A         X         P
1         B         Y         Q
2         A         X         Q
3         B         Y         P
4         A         X         P
5         C         Z         Q
6         B         Z         P

In [11]:
contingency_table = pd.crosstab(df['Category1'], df['Category2'])
contingency_table

Category2  X  Y  Z
Category1
A          3  0  0
B          0  2  1
C          0  0  1

In [13]:
stats.chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=9.333333333333332, pvalue=0.053286854458472886, dof=4, expected_freq=array([[1.28571429, 0.85714286, 0.85714286],
       [1.28571429, 0.85714286, 0.85714286],
       [0.42857143, 0.28571429, 0.28571429]]))

In [25]:
def chi_square_test(df):
    cols = df.columns
    results = {}
    # Iterate over each pair of columns
    for i in range(len(cols)):
        for j in range(i + 1, len(cols)):
            # Create a contingency table
            contingency_table = pd.crosstab(df[cols[i]], df[cols[j]])
            
            # Perform Chi-Square test
            chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

            # Save results
            results[f"{cols[i]} vs {cols[j]}"] = {"p_value": p}

    return results

In [29]:
result = chi_square_test(df)

In [37]:
for pair, value in result.items():
    print(pair)
    print(value.values())

Category1 vs Category2
dict_values([0.053286854458472886])
Category1 vs Category3
dict_values([0.4594258240359268])
Category2 vs Category3
dict_values([0.907354349427929])