In [1]:
# hashing function

In [110]:
import hashlib

In [112]:
def assign_group (user_id):
    hash_value = int(hashlib.sha256(user_id.encode()).hexdigest(), 16)
    if hash_value % 2 == 0:
        return 'A'
    else:
        return 'B'
    print(hash_value)

In [114]:
user_id = 'vW9Bnr517MOXoSw8UL6LUJB3NAt2'

In [116]:
group  = assign_group (user_id)
group

'A'

In [19]:
print()
print(f'The user {user_id} is assigned to group {group}.')

The user vW9Bnr517MOXoSw8UL6LUJB3NAt2 is assigned to group A.

In [40]:
user_id.encode()
hashlib.sha256(user_id.encode())
hashlib.sha256(user_id.encode()).hexdigest()
int(hashlib.sha256(user_id.encode()).hexdigest(), 16)

3185969825862210092167588725046094564600510333085715267235931668250336170788

In [3]:
import pandas as pd
file_path = r"C:\\Users\\Liu Shi Peng\\Documents\\user_id.txt"
df = pd.read_csv(file_path, encoding = 'utf-8') 
df

     39gXixpzLnecNUcxz5zQTPOVfU02
0    Eb6zN9yfwjMIhdPpILimyCq4o192
1    xRkv9tY4RkgVSd9buIPT7WyON7x2
2    iE0UsF8OE9OLyXhC4MBB5pbQKIw1
3    cDVKJtqlwQdvGUzwakegADhjD5t2
4    x8YyZmWjdoUtE4AlShFvCfsysAz1
..                            ...
194  6NXdSuP2q9eSkKudWSXrYIu7MDi1
195  MC9NNstwymSPojH5iKuwQqGPdVl1
196  dfEb8JSSXTT7qmhb5FMuSgzIRqv1
197  OCwti8j9EpTHIGX8IUTxAA3QzCE3
198  gaEG0ius20MOcyczdRAjGmmHC753

[199 rows x 1 columns]

In [104]:
df

     39gXixpzLnecNUcxz5zQTPOVfU02
0    Eb6zN9yfwjMIhdPpILimyCq4o192
1    xRkv9tY4RkgVSd9buIPT7WyON7x2
2    iE0UsF8OE9OLyXhC4MBB5pbQKIw1
3    cDVKJtqlwQdvGUzwakegADhjD5t2
4    x8YyZmWjdoUtE4AlShFvCfsysAz1
..                            ...
194  6NXdSuP2q9eSkKudWSXrYIu7MDi1
195  MC9NNstwymSPojH5iKuwQqGPdVl1
196  dfEb8JSSXTT7qmhb5FMuSgzIRqv1
197  OCwti8j9EpTHIGX8IUTxAA3QzCE3
198  gaEG0ius20MOcyczdRAjGmmHC753

[199 rows x 1 columns]

In [108]:
df[0]

KeyError: 0